
<p-sidebar [(visible)]="display" [showCloseIcon]="showclose" position="right" [style]="sideoverlaystyle">
  
<img src="assets/layout/images/ideawall.jpg" height="40%" width="100%" />
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"
        ><i class="pi pi-user" style="line-height: 1.25;"></i
      ></span>
      <input type="text" pInputText placeholder="Username" />
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">$</span>
      <input type="text" pInputText placeholder="Price" />
      <span class="ui-inputgroup-addon">.00</span>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">www</span>
      <input type="text" pInputText placeholder="Website" />
    </div>
  </div>
</div>
</p-sidebar>

