<p-sidebar
  [(visible)]="display"
  [showCloseIcon]="showclose"
  position="right"
  [style]="sideoverlaystyle"
>
  <img src="assets/layout/images/ideawall.jpg" height="40%" width="100%" />
  <div class="ui-fluid">
    <div class="card card-w-title">
      <h1>Title</h1>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
          <input type="text" placeholder="Title" pInputText />
        </div>
      </div>
    </div>

   
  </div>
  <p-editor
  [(ngModel)]="description"
  [style]="{ height: '320px' }"
></p-editor>
</p-sidebar>
