
<div class="ui-g-12 ui-md-6 ui-lg-4 cardborderbrown">
  <p-card styleClass="ui-card-shadow">
    <p-header>
      <div>
        <h1>My Contributions</h1>
        <h3>Status of ideas</h3>
      </div>
    </p-header>
    <div>
      <button
        pButton
        type="button"
        label="View"
        class="ui-button-danger"
      ></button>
    </div>
    <p-footer>
      <div class="ui-g-12 ui-md-3 ui-lg-3">
        <h1>10</h1>
        <h3 style="color: green;">Submitted</h3>
      </div>
      <div class="ui-g-12 ui-md-3 ui-lg-3">
        <h1>10</h1>
        <h3 style="color: orange;">Review</h3>
      </div>
      <div class="ui-g-12 ui-md-3 ui-lg-3">
        <h1>10</h1>
        <h3 style="color: rgb(18, 88, 180);">POC</h3>
      </div>
      <div class="ui-g-12 ui-md-3 ui-lg-3">
        <h1>10</h1>
        <h3 style="color: red;">Rejected</h3>
      </div>
    </p-footer>
  </p-card>
</div>
