
p-card{
    text-align: center;
    display: inline;
}
h1,h3{
    font-weight: normal;
}

.cardborderbrown{
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(120, 120, 151) , rgb(113, 141, 201));
}

.cardborderbrown:hover{
    transform: scale(1.02);
}


.ui-button-danger{
    background-color: crimson;
}


