<div class="layout-topbar">
  <div class="layout-topbar-content">
    <a href="#" id="menu-btn" class="menu-btn" (click)="app.onMobileMenuButton($event)">
      <i class="fa fa-bars"></i>
    </a>
    <div class="topbar-logo" style="margin-top: -20px;">
      <h1>MARKETS <span style="color: #007ad9;">INCUBATOR</span></h1>
    </div>

    <a class="topbar-link" (click) = "display=!display"
    >Add Idea</a>
  

  
  </div>
</div>

<app-addidea [display]="display" (valueChanged)="displayEvent($event)"></app-addidea>
