<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-3 borderright">
    <h3>Team</h3>
    <h1>FX Hackers</h1>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3 borderright">
    <h3>Product Owner</h3>

    <h1>
      <img
        src="assets/layout/images/boy.png"
        alt="Avatar"
        align="middle"
        class="avatar"
      /><span style="padding-left: 10px;">Arun, Kumar</span>
    </h1>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3 borderright">
    <h3>Collaborators</h3>
    <img src="assets/layout/images/boy.png" alt="Avatar" class="avatar" />
    <img src="assets/layout/images/girl.png" alt="Avatar" class="avatar" />
    <img src="assets/layout/images/boy.png" alt="Avatar" class="avatar" />
    <img src="assets/layout/images/girl.png" alt="Avatar" class="avatar" />
    <img src="assets/layout/images/boy.png" alt="Avatar" class="avatar" />
    <img src="assets/layout/images/girl.png" alt="Avatar" class="avatar" />
    <img src="assets/layout/images/boy.png" alt="Avatar" class="avatar" />
    <img src="assets/layout/images/girl.png" alt="Avatar" class="avatar" />
    <h4>+8 Members</h4>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <h3>Idea</h3>
    <h2>Decentralised file processing</h2>
  </div>
</div>
