@import url("https://fonts.googleapis.com/css?family=Cairo");

body,
html {
  font-family: "Cairo";
  background-color: #e2e6e8;
}

.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}

.float_center > .child {
  position: relative;
  left: 50%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ui-fluid{
  margin-top: 65px;
  background-color: #e2e6e8;
}
